/* Container */
#container {
    text-align: center;
    margin-top: 20px;
}

/* Title */
#title {
    font-size: 21px;
    font-weight: bold;
    margin: 8px auto;
    text-align: center;
}

/* Player Controls */
#player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

/* YouTube Icon */
#youtube-icon {
    cursor: pointer;
    width: 37px;
    height: 37px;
    background-image: url('/play.png');
    background-size: cover;
    margin-right: 14px;
}

/* Progress Bar Container */
#progressContainer {
    width: 50%;
    height: 6px;
    background-color: #F0FFFF;
    position: relative;
    cursor: pointer;
}



/* Progress Bar */
#progressBar {
    height: 100%;
    background-color: #4caf50;
    width: 0;
    transition: width 0.1s ease-in-out;

}

/* Thumb */
#progressThumb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 19px;
    background-color: #FF8C00;
    border-radius: 50%;
    border: 2px solid #0000CD;
    pointer-events: none;
}


/* Time Info */
#timeInfo {
    margin: 5px 0;
    font-size: 16px;
    margin-right: 70px;
    margin-left: 17px;
}

.volume-slider {
    width: 15%;
    transform: translateY(-50%);
    float: right;
}

#volume-icon {
    width: 25px;
    height: auto;
    margin-left: 50px;
    margin-right: 20px;
    cursor: pointer;
    float: right;
}

#volumeButton {
    width: 25px;
    height: 25px;
    margin-left: 50px;
    margin-right: 3px;
    background-image: url('/static/assets/img/volume-up.svg');
    background-size: cover;
    cursor: pointer;
    filter: invert(1);
}

#volumeButton.muted {
    background-image: url('/static/assets/img/volume-mute.svg');
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}